asgiref==3.7.2
attrs==23.1.0
celery==5.3.1
cron-descriptor==1.4.0
croniter==1.4.1
cryptography==3.4.8
Django==4.2.2
django-celery-beat==2.5.0
django-celery-results==2.5.1
django-filter==23.2
django-timezone-field==5.1
flower==2.0.0
importlib-metadata==4.6.4
python-crontab==3.0.0
python-dateutil==2.8.2
pytz==2023.3
redis==4.6.0
sqlparse==0.4.4
tzdata==2023.3
